.box-players {
  display: flex;
  justify-content: center;
  border: 1px solid black;
}

.box-players > div {
  margin: 0.725rem;
  padding: 0.725rem;
}

.box-players > .active {
  background: gold;
}

.box-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.box-letter {
  clear: both;
  margin: 10px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.letter {
  border: 1px solid black;
  padding: 4px;
  margin: 2px;
  border-radius: 2px;
  /* display: inline-block; */
  line-height: 16px;
  min-height: 16px;
  min-width: 0.7rem;
}

.letter.space {
  background: green;
  min-width: 0.7rem;
  color: green;
}
